body {
    font-family: 'NanumSquare', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.container {
    padding: 0;
}
.jumbotron {
    padding: 0;
}
a:hover{
    text-decoration:none;
    color:black;
}

/* index.html */

    /* header */
header {
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 80px;
    transition: .3s ease-in-out;
}
.header-logo {
    align-items: center;
    color: rgb(22,22,22);
}
.header-logo p {
    transition: .3s;
    width: 100px;
    height: 70px;
    background: url(../img/logo/logo.png) no-repeat center top /cover;
    text-indent: -9999px;
    border-radius: 10px;
}
.header-menuicon li a{
    transition: .2s;
    font-size: 20px;
    width: 200px;
    color: rgba(32,32,32,.7);
    border-radius: 25px;
    padding: 13px 0 10px 10px;
}
.header-menuicon li a:hover{
    color: black;
}
header.shrink {
    padding: 10px 50px;
    background-color: #fff;
    z-index: 1;
}
header.shrink .header_logo p {
    width: 80px;
    height: 56px;
}
header.shrink .header_menuicon {
    background-color: transparent;
}

    /* modal */
.mainmodal {
    position: fixed;
    top: 30px;
    right: 0;
    display: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
    background-color: #fff;
    width: 400px;
    height: 500px;
    animation-name: animate-right;
    animation-duration: 0.4s;
}
.mainmodal-content {
    position: relative;
    padding: 40px;
    color: #000;
    text-align: center;
}
@keyframes animate-right {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}
.mainmodal-content .mainmodal-close {
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;
    font-size: 30px;
    font-weight: bold;
    opacity: .7;
    cursor: pointer;
}
.mainmodal-content form p {
    padding: 20px 0;
    font-size: 22px;
}
.mainmodal-content form h2 {
    font-weight: bold;
}
.mainmodal-content form input {
    font-family: 'Nanum Gothic', sans-serif;
    width: 90%;
    height: 50px;
    display: block;
    margin: 30px auto;
    padding: 0 20px;
    border: none;
    border-radius: 25px;
    background-color: #ddd;
    color: black;
}
.loginbtn {
    width: 90%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.7);
    z-index: 5;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

    /* pre-main */
.head_img_wrapper {
    height:600px;
    background: url(../img/books.jpg) no-repeat center top /cover;
    border-radius: 0;
}
.head_img {
    position: absolute;
    top: 330px;
    left: 280px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
}

    /* main */
.menu_wrapper_under_julia {
    margin-bottom: 50px;
}
.menu_wrapper_under_julia img {
    border-radius: 20px;
}
.menu_wrapper_under_julia div:first-child {
    margin-top: -60px;
}
.menu_wrapper_under_julia div:nth-child(2) {
    margin-top: 30px;
}
.menu_wrapper_under_julia div:last-child {
    margin-top: 120px;
}
.walking {
    position: absolute;
    top: -32px;
    left: 450px;
    font-size: 60px;
    color: rgb(48, 152, 201);
}

    /* footer */
.footer_wrapper {
    height: 300px;
    background-color: #bbb;
    margin-bottom: 0;
    border-radius: 0;
    padding: 70px;
}